.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stars {
    display: flex;
    align-items: center;
}

.rating {
    margin-right: 50px;
}

.star {
    font-size: 20px;
    color: gray;
}
.filled {
    color: yellow;
}

.bold {
    font-weight: 500;
}


.card-icons {
    padding: 10px;
    font-size: 2em;
}

/* Code for bowl icon taken from iconify design */

.mdi--bowl {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 15c0 3.9-3.1 7-7 7H9c-3.9 0-7-3.1-7-7v-3h20z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }


  /* radio buttons on add_pub.html */
.question {
    margin-left: 2.9em; 
    margin-right: 2em;
}

.radio_label {
    margin-right: 3em;
    }

.margin-custom {
    margin-top: 4em;
}

/* Star rating icons used in write_review.html */
.rating-icons {
    font-size: 30px;
  }
  
  .rating-icon {
    color: #ccc; 
    cursor: pointer;
  }
  
  .rating-icon.filled {
    color: #FFD700; 
  }
  



  body {
    background-image: 
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  
}
