nav .brand-logo {
    margin-left: 2%;
}

nav ul li:last-child a {
    margin-right: 1.5em;
}




.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stars {
    display: flex;
    align-items: center;
}

.rating {
    margin-right: 50px;
}

.star {
    font-size: 20px;
    color: gray;
}
.filled {
    color:  #FFA500;
}

.bold {
    font-weight: 500;
}


.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding-bottom: 2em;
    font-size: 1.5em;
}

.card-icons i {
    margin-right: 0.5em; 
}

.card-image img {
    width: 300px; 
    height: 225px; 
    object-fit: cover;
}



/* Code for bowl icon taken from iconify design */

.mdi--bowl {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22 15c0 3.9-3.1 7-7 7H9c-3.9 0-7-3.1-7-7v-3h20z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }


  /* radio buttons on add_pub.html */
.question {
    margin-left: 2.9em; 
    margin-right: 2em;
}

.radio_label {
    margin-right: 3em;
    }

.margin-custom {
    margin-top: 4em;
}

/* Star rating icons used in write_review.html */
.rating-icons {
    font-size: 30px;
  }
  
  .rating-icon {
    color: #ccc; 
    cursor: pointer;
  }
  
  .rating-icon.filled {
    color:  #FFD700; 
  }
  
.star1 {
    font-size: 2.5em;
}


  body {
    background-image: 
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  
}

/* Margin bottom classes */
.mb-1 { margin-bottom: 8px; }
.mb-2 { margin-bottom: 16px; }
.mb-3 { margin-bottom: 24px; }
.mb-4 { margin-bottom: 32px; }
.mb-5 { margin-bottom: 40px; }

/* Margin top classes */
.mt-1 { margin-top: 8px; }
.mt-2 { margin-top: 16px; }
.mt-3 { margin-top: 24px; }
.mt-4 { margin-top: 32px; }
.mt-5 { margin-top: 40px; }

/* this needs to go in a media query for larger devices */
.row .col:nth-child(-n+3) .card {
    margin-top: 20%; 
}
