.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stars {
    display: flex;
    align-items: center;
}

.rating {
    margin-right: 50px;
}

.star {
    font-size: 20px;
    color: gray;
}
.filled {
    color: yellow;
}

.bold {
    font-weight: 500;
}
