{% extends "base.html" %}

{% block content %}

    <h1 class="light-blue-text text-darken-4 center-align">Add Pub</h1>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_pub') }}">
           
            <!-- Pub name -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="name">Pub Name</label>
                    <input id="name" name="name" minlength="3" maxlength="50" type="text" class="validate" required>
                </div>
            </div>

             <!-- Pub location -->
             <div class="row">
                <div class="input-field col s12">
                    <label for="location">Pub Location</label>
                    <input id="location" name="location" minlength="3" maxlength="50" type="text" class="validate" required>
                </div>
            </div>

            <!-- Pub description -->
            <div class="row">
                <div class="input-field col s12">
                    <label for="description">Pub Description</label>
                    <textarea id="description" name="description" minlength="5" maxlength="1000" class="materialize-textarea validate" required></textarea>
                </div>
            </div>
    
         <!-- Food served radio button -->
            <div class="row">
                <div class="input-field col s12">
                    <label>
                        <input name="food_served" type="checkbox" value="yes">
                        <span>Does the pub serve food?</span>
                    </label>
                </div>
            </div>

        <!-- Dogs allowed inside radio button -->
            <div class="row margin-custom">
                <div class="input-field col s12">
                    <label>
                        <input name="dogs_allowed" type="checkbox" value="yes">
                        <span>Are dogs allowed inside the Pub?</span>
                    </label>
                </div>
            </div>

             <!-- Dogs water provided radio button -->
             <div class="row margin-custom">
                <div class="input-field col s12">
                    <label>
                        <input name="water_provided" type="checkbox" value="yes">
                        <span>Does the Pub provide drinking water for dogs?</span>
                    </label>
                </div>
            </div>

             <!-- Dog meals offered radio button -->
             <div class="row margin-custom">
                <div class="input-field col s12">
                    <label>
                        <input name="dog_meals" type="checkbox" value="yes">
                        <span>Does the Pub offer Dog meals?</span>
                    </label>
                </div>
            </div>

             <!-- Enjoyable walks nearby radio button -->
             <div class="row margin-custom">
                <div class="input-field col s12">
                    <label>
                        <input name="nearby_walks" type="checkbox" value="yes">
                        <span>Are there enjoyable walks nearby that are dog-friendly?</span>
                    </label>
                </div>
            </div>

            <!-- loving_staff radio button -->
            <div class="row margin-custom">
                <div class="input-field col s12">
                    <label>
                        <input name="loving_staff" type="checkbox" value="yes">
                        <span>Do the staff offer a warm and friendly welcome to dogs?</span>
                    </label>
                </div>
            </div>

            <!-- submit button -->
            <div class="row mt-2">
                <div class="col s12 center-align add-pub-button">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Pub <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
