<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the best dog-friendly pubs in Anglesey! Find pubs that welcome your furry friends, offer dog meals, and have nearby walks. Plan your next outing with our comprehensive pub guide.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap" rel="stylesheet">

    {% block styles %}
    {% endblock %}
    <title>Paws and Pints</title>
</head>
<body>

    <header>
        <!-- top navbar -->
		<nav class="nav-extended text-shadow darken-2">
			<div class="nav-wrapper">
				<a href="{{ url_for('get_pubs') }}" class="brand-logo">Paws & Pints </a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{ url_for('get_pubs') }}">Home</a></li>
                {% if session.user %}   
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_pub') }}">Add pub</a></li>
                    {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('manage_reviews') }}">Manage Reviews</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}    
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}    
				</ul>
			</div>
		</nav>

        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align">Paws & Pints</h4></li>
            <li><a href="{{ url_for('get_pubs') }}">Home</a></li>
            {% if session.user %}   
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_pub') }}">Add pub</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('manage_reviews') }}">Manage Reviews</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}    
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %} 
		</ul>
	</header>

    <div>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="lighten-2 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/db1cc1e7f8.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>