{% extends "base.html" %}
{% block content %}

<div class="center-align">
<h1>Confirm Deletion</h1>
<p>Are you sure you want to delete the review titled "{{ review.title }}"?</p>
<form action="{{ url_for('delete_review', review_id=review._id) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="waves-effect waves-light btn-small red darken-1">Confirm Delete</button>
    <a href="{{ url_for('profile', username=session['user']) }}" class="waves-effect waves-light btn-small">Cancel</a>
</form>
</div>

{% endblock %}
