{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add a Review </h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <input type="hidden" id="pub_id" name="pub_id" value="{{ pub_id }}">

           
            <!-- Review title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-paw prefix light-blue-text text-darken-4"></i>
                    <input id="title" name="title" minlength="3" maxlength="50" value="{{ review.title }}"
                        type="text" class="validate" required>
                    <label for="title">Review Title</label>
                </div>
            </div>

            <!-- Review text -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-comment-alt prefix light-blue-text text-darken-4"></i>
                    <textarea id="review_text" name="review_text" minlength="3" maxlength="500"
                        class="materialize-textarea validate" required>{{ review.review_text }}</textarea>
                    <label for="review_text">Review Description</label>
                </div>
            </div>


            <!-- Pub rating -->
<div class="row">
    <div class="input-field col s6 center-align">
        <label for="user_rating" class="rating-label validate required">How would you rate this Pub?</label>
        <div class="star-rating">
            <span class="star1">&#9733;</span>
            <span class="star1">&#9733;</span>
            <span class="star1">&#9733;</span>
            <span class="star1">&#9733;</span>
            <span class="star1">&#9733;</span>
        </div>
    </div>
    <div class="input-field col s6 center-align">
        <p>You previously rated this pub: <span id="user_rating_display">{{ review.user_rating }}</span> stars</p>
        <input id="user_rating" name="user_rating" value="{{ review.user_rating }}" type="number" style="display: none;" required>
    </div>
</div>


             <!-- submit and cancel buttons -->
             <div class="row mt-2">
                <div class="col s12 center-align">
                    <div class="btn-group">
                        <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                            Edit Review <i class="fas fa-edit right"></i>
                        </button>
                        <form action="{{ url_for('cancel_edit_review') }}" method="GET">
                            <button type="submit" class="btn-large red darken-1 text-shadow">Cancel</button>
                        </form>
                    </div>
                </div>

            </div>
        </form>
    </div>



{% endblock %}