{% extends "base.html" %}
{% block content %}

<h1 class="row center">Log In</h1>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">

            <!-- Log In -->
            <div class="row no-margin">
                <div class="col s12">
                    <p class="center-align">To leave a review or add a new pub, please log in first. Don't have an account yet? Click here to
                        <a href="{{ url_for('register') }}"
                          class="blue-text text-darken-4 hoverable">
                            <strong>Sign Up</strong>
                        </a>
                    </p>
                </div>
            </div>

            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username"
                     type="text" class="validate" minlength="3" maxlength="15"
                        pattern="^[a-zA-Z0-9 ]{3,15}$"
                        required aria-label="Username">
                    <label for="username">Username</label>
                </div>
            </div>

           <!-- Password -->
<div class="row">
    <div class="input-field col s10">
        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
        <input id="password" name="password" type="password" class="validate" minlength="8" pattern="^[a-zA-Z0-9]{5,15}$" required aria-label="Password">
        <label for="password">Password</label>
    </div>
    <div class="input-field col s12 m2 password-label">
        <label>
            <input type="checkbox" onclick="togglePasswordVisibility()" id="showPassword">
            <span>Show Password</span>
        </label>
    </div>
</div>



            <!-- Register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow login-button">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}