{% extends "base.html" %}
{% block content %}
 
<div class="row">
    {% for pub in pubs %}
    <div class="col s12 m4">
        <div class="card" style="position: relative;">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ url_for('static', filename='images/bunny.jpg') }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ pub.name }}<i class="fas fa-angle-down right"></i></span>
                <p><i class="fas fa-map-marker-alt"></i> <strong>Location: </strong>{{ pub.location }}</p> 
                <p>Debugging Average Rating: {{ pub.average_rating }}</p>
                <div class="stars">
                    <p class="rating bold">Rating: </p>
                    {% for i in range(1, 6) %}
                        {% if pub.average_rating is defined and pub.average_rating|int >= i %}
                            <span class="star filled"><i class="fas fa-star"></i></span>
                        {% else %}
                            <span class="star"><i class="far fa-star"></i></span>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <p>{{ pub.description }}</p><br>
            </div>
                
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="fas fa-times right"></i></span>
                
                <!-- Print pub ID for debugging -->
                <div class=""><p>{{ pub._id }}</p></div>
                
                <!-- Link to write a review with the pub ID -->
                <a href="{{ url_for('write_review', pub_id=pub._id) }}"><i class="fas fa-pencil-alt left"></i> Write a Review</a>
    
                <!-- Reviews for the current pub -->
                {% for review in pub.reviews %}
                    <div class="card-panel grey lighten-5">
                        <div class="row">
                            <div class="col s12">
                                <h5>{{ review.title }}</h5>
                                <p>{{ review.review_text }}</p>
                                <p>Rating: {{ review.user_rating|int }}</p>

                                <div class="stars">
                                    {% for i in range(review.user_rating|int) %}
                                    <i class="fas fa-star"></i>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
